<section id="header" class="top-0 left-0 md:p-[var(--rc-spacing-500)]">
  <img class="w-full h-auto md:rounded-xl" src="assets/recipe/images/image-omelette.jpeg" alt="omelette">
</section>
<div class="flex flex-col justify-center gap-[var(--rc-spacing-400)] p-[var(--rc-spacing-500)]">

  <section id="intro" class="">
    <h1 class="text-rc-stone-900">Simple Omelette Recipe</h1>
    <h4>An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.</h4>
    <div class="preparation bg-rc-rose-50">
      <h3>Preparation time</h3>
      <ul class="list-disc">
        <li><span class="font-bold">Total</span>: Approximately 10 minutes</li>
        <li><span class="font-bold">Preparation</span>: 5 minutes</li>
        <li><span class="font-bold">Cooking</span>: 5 minutes</li>
      </ul>
    </div>
  </section>

  <section id="ingredients">
    <h2>Ingredients</h2>
    <ul class="list-disc">
      <li>2-3 large eggs</li>
      <li>Salt, to taste</li>
      <li>Pepper, to taste</li>
      <li>1 tablespoon of butter or oil</li>
      <li>Optional fillings: cheese, diced vegetables, cooked meats, herbs</li>
    </ul>
  </section>

  <section id="instructions">
    <h2>Instructions</h2>
    <ol class="list-decimal">
      <li><span class="font-bold">Beat the eggs</span>: In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffier texture.</li>
      <li><span class="font-bold">Heat the pan</span>: Place a non-stick frying pan over medium heat and add butter or oil.</li>
      <li><span class="font-bold">Cook the omelette</span>: Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface.</li>
      <li><span class="font-bold">Add fillings (optional)</span>: When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette.</li>
      <li><span class="font-bold">Fold and serve</span>: As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate.</li>
      <li><span class="font-bold">Enjoy</span>: Serve hot, with additional salt and pepper if needed.</li>
    </ol>
  </section>

  <section id="nutrition">
    <h2>Nutrition</h2>
    <h4>The table below shows nutritional values per serving without the additional fillings.</h4>
    <div class="grid grid-cols-2 grid-flow-row gap-4">
      <div>Calories</div>
      <div>277kcal</div>
      <div>Carbs</div>
      <div>0g</div>
      <div>Protein</div>
      <div>20g</div>
      <div>Fat</div>
      <div>22g</div>
    </div>
  </section>
</div>
