<div class="relative flex items-center justify-center menu-items" #menuItems>
  @let sources = [{
    link: '/qrcode',
    img: 'assets/qrcode/screenshot-desktop.png',
    text: 'QR Code',
  }, {
    link: 'https://www.ckarakoc.nl',
    img: 'assets/qrcode/logo.png',
    text: 'My Website',
  }, {
    link: '/blog-preview',
    img: 'assets/blog-preview-card/images/design/desktop-design.jpg',
    text: 'Blog Preview',
  }];
  @for (source of sources; track $index) {
    @let counter = $index + 2;
    <div class="absolute menu-item">
      <div class="inner-item">
        <app-circular-menu-item [imgSrc]="source.img" [count]="counter" [link]="source.link" [text]="source.text"/>
      </div>
    </div>
  }
</div>
